.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.App h1 {
  text-align: center;
  font-size: 80px;
  font-family: Georgia;
  font-weight: bold;
  font-style: italic;
  margin: 2% 0% 2% 0%;
}

.markerStyle {
  background-color: blue;
  color: blue;
}
